.new_board
  = form_with(model: @comment, url: task_comments_path(@comment.task), local: true) do |f|
    %div
      = f.label :body, 'New Comment', class:'New_comment'
    %div
      = f.text_area :body
      = f.submit 'Submit', class: 'btn-primary'
