<div class="show_board">
  <div class="show_table">
    <div class="show_card_title">
      <%= @tasks.title %>
    </div>
    <div class="show_card_content"> 
      <%= @tasks.content %>
    </div>
    <div class="show_card_detail">
      <%= image_tag 'Oval-4.png' %>
    </div>
    </div>
</div>