<div class="board">
    <div class="card_title">
      <%= @boards.title %>
    </div>
    <div class="card_content"> 
      <%= @boards.content %>
    </div>
    <div class="card_detail">
      <%= image_tag 'Oval.png' %>
    </div>
</div>