// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';
.home-title {
    position: absolute;
    height: 36px;
    left: 26px;
    right: 0%;
    margin-top:70px;
    float:left;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}

.card_title{
    position: relative;
    width: 430px;
    height: 140px;
    left: 8px;
    top: 161px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}




.article_detail_actions{
    width: 6px;
    height: 6px;
    left: 352px;
    top: 180px;
}

.card_content{
    height: 19px;
    right: 0%;
    margin-top:50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000
}

.card_new{
    width: 430px;
    height: 160px;
    margin-top: 488px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    height: 155px;
    left: 1.1%;
    right: 0.35%;
    top: calc(50% - 25px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #000000;    
    p{
      margin-top:55px;
    }    
}

.card_detail{

    width: 30px;
    height: 30px;
    left: 5px;
    top: 110px;
    display: flex;
}

.edit_dropdown_btn{
    margin-top:66px;
    width: 6px;
    height: 6px;
    margin-left: 375px;
}

.dropbtn{
    position: relative;
    width: 10px;
    height: 10px;
    left: 350px;
    top: 35px;
    margin-left:30px;
    background: #000000;
}



.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    font-weight: normal;
    margin-left: 325px;
    margin-top:57px;
    position: relative;
    background-color:blue;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

 .dropdown-content a{
    padding: 8px 24px;
    text-decoration: none;
    display: block;
    color: $text-base-color;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.header_pageTitle_img{
    position: relative;
    display: inline-block;
    left:120px;
}

.dropdown-content2{
    font-weight: normal;
    margin-left: 12px;
    margin-top:57px;
    position: relative;
    background-color:blue;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

 .dropdown-content2 a{
    padding: 8px 24px;

}

.dropdown-content2 a:hover {
    background-color: red;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}
