// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.New_comment{
    position: absolute;
    height: 36px;
    left: 3%;
    right: 0%;
    top: 72px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
    color:black;
}