// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.New_comment{
    position: absolute;
    height: 36px;
    left: 3%;
    right: 0%;
    top: 72px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
    color:black;
}

.task_title{
    top:45px;
    position: relative;
    height: 25px;


    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.task_title_comment{
    top:420px;
    position: relative;
    height: 25px;


    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.show_comment_list{
    position: absolute;
    height: 36px;
    left: 1.5%;
    right: 0%;
    top: 480px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height */
    
    color: #000000;
}